.values {
  background-color: var(--color-content);
  box-shadow: var(--shadow);
  display: flex;
  width: -webkit-fill-available;
  flex-direction: column;
  visibility: hidden;
  top: 120%;
  position: absolute;
  z-index: var(--z-1);
  &:hover {
    color: yellow;
    background: var(--color-danger);
  }
}
.show {
  visibility: visible;
}
.value {
  padding: 2.5% 5%;
  display: flex;
  flex-wrap: nowrap;
  text-wrap: nowrap;
  align-items: center;
  gap: 5%;

  & p {
    text-wrap: nowrap;
    width: fit-content;
  }
}
